.NavTitle{
    font-size:xx-large;
    background-color: blue;
    text-align: center;
}

.Link {

    text-align: center;
    margin: 20px;
    color: rgb(250, 246, 246);
    text-decoration: none;
    transition: 1s;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
    
  }
  
  .Link:hover {
  
    color: rgb(14, 15, 14);
    background-color: crimson;
    border-radius: 15px;
    box-shadow: 5px 5px 10px crimson ;
    transition: ease-in;
    
  }

  .Links {
    display: flex; justify-content: center;
    background-color: chartreuse;
  }