body {
  height: vh 100%;
  background: linear-gradient(to bottom right, #FFD700, #FFA500, #F0E68C);
  color: #201a33;
}
h1{
  color: white;
  display: flex;
  justify-content: center;
}
p {
  display: flex;
  justify-content: center;
}

.Navbar {

  display: flex; justify-content: center;
  background-color:#75cdf0;
  color: beige;
  height: 75px;
  width: 70%;
  border: solid 5px rgb(249, 141, 34);

  align-items: center;
	/* position: fixed; */
		left: 0;
		right: 0;
		margin: 0 auto;
		border-radius: 200px;
		z-index: 9;
		backdrop-filter: blur(5px);
		transition: 10s all cubic-bezier(0.075, 0.82, 0.165, 1) .2s;

}

.iconContainer{

  display: flex; justify-content: space-evenly;
  padding-top: 5%;
  font-size: 30px;
}

.Control {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  
}

.training {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  

}

img {

  border:  5px solid rgb(249, 141, 34);
}

.Profile {

display: flex; justify-content: center;
padding-top: 10px;
}

.box {
  height: 250px;
  width: 20%;
  background-color:#75cdf0;
  margin: 20px;
  border-radius: 15px;
  padding: 10px;
  font-weight: bold;
  border:  5px solid rgb(249, 141, 34);
  
}

.box:hover{
  border-radius: 15px;
  box-shadow: 5px 5px 10px rgb(249, 141, 34) ;
  transition: ease-in;
}
.box2 {
  height: 20.2vh;
  width: 40%;
  background-color:#75cdf0;
  margin: 20px;
  border-radius: 15px;
  padding: 10px;
  font-weight: bold;
  text-align: center;  
  align-items: center; 
  display: block; justify-content: center;
  border:  5px solid rgb(249, 141, 34);

}
.box2:hover{
  border-radius: 15px;
  box-shadow: 5px 5px 10px rgb(249, 141, 34) ;
  transition: ease-in;
}

.box3 {
  height: 20.2vh;
  width: 40%;
  background-color:#75cdf0;
  margin: 20px;
  border-radius: 15px;
  padding: 10px;
  font-weight: bold;
  text-align: center;  
  align-items: center; 
  display: block; justify-content: center;
  border:  5px solid rgb(249, 141, 34);

}
.box3:hover{
  border-radius: 15px;
  box-shadow: 5px 5px 10px rgb(249, 141, 34) ;
  transition: ease-in;
}

.Homepage {

  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;}

.Content {

  display: flex; justify-content: center;
  justify-content: space-evenly;
  margin: 2em;

}

.Projects {

  display: flex; 
  justify-content: space-evenly;
  margin: 2em;
}


.thumbnail {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 30%;
  position: relative;
}

.ProjectDesc {
  text-align: center;
  width: 80%;
  font-weight: bold;
  padding-bottom: 20%;
  justify-content: center;
  align-items: center;

}

.title {
  text-align: center;
  display: block;
  font-size: 25px;
  font-weight: bold;
}


.thumbnail:hover {
  background-color: black;
  color: white;
}

button {
  background-color: white;
  padding: 5px;
  font-size: 13px;
  margin: 1px 5px 1px 20px;
  cursor: pointer;
  white-space: nowrap;
  text-decoration:solid;
  border-radius: 10px;
  font-family: sans-serif;
}

button:hover {
  background-color:  rgb(249, 141, 34);
}


/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.Link-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.Link-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: rgb(249, 141, 34);
  display: block;
}

/* Change color of dropdown links on hover */
.Link-content a:hover {
  background-color:  rgb(249, 141, 34);

}

/* Show the dropdown menu on hover */
.Link:hover .Link-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */







  

    




